<div id='top-left'>

<p><%= link_to "Back to Ask Dogevac", new_question_path %></p>

Questions of the Universe:

<ul>
<% @questions.each do |question| %>
	<li><%= link_to question.body, '#' %></li>
<% end %>
</ul>
</div>